.cm-btn{
    cursor: pointer;
}
.cm-none{
    display:none !important;
}
.cm-navbar-brand{
    margin-right: 0.5rem !important;
}
.cm-unselect{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#index-logo{
margin-left:15rem;
}

body {
overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading-dark {
padding: 0.5rem 0 0 0.5rem;
font-size: 1.2rem;
height: 66px;
}
.clicked{
cursor: pointer;
}
#sidebar-wrapper .list-group {
width: 13rem;
}
#page-content-wrapper {
min-width: 100vw;
}
#wrapper #sidebar-wrapper.toggled {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#wrapper #sidebar-wrapper.toggled{
    margin-left: -15rem;
}
}
main{
margin:40px;
}
.btn-righticon{
margin-right: 10px;
}
.btn-icon{
color:grey;
cursor: pointer;
margin:0 10px;
}
.btn-icon:hover{
color:#000000;
}
.card-text{
display: inline;
line-height: 40px;
}
#add-logfield-btn{
float:right;
}
.btn-close:focus{
outline: none;
}
.shade{
-moz-opacity: 0.3;  opacity:.30;  filter: alpha(opacity=30);
}
.drawer-right{
    height: 100%;
    position: fixed;
    right: -550px;
    width: 500px;
    background: #fff;
    z-index: 10;
    transition:right 0.2s linear;
    box-shadow: 0 40px 64px 0 rgba(65, 78, 101, 0.1), 0 24px 32px 0 rgba(65, 78, 101, 0.1), 0 16px 16px 0 rgba(65, 78, 101, 0.1), 0 8px 8px 0 rgba(65, 78, 101, 0.1), 0 4px 4px 0 rgba(65, 78, 101, 0.1), 0 2px 2px 0 rgba(65, 78, 101, 0.1);
}