.cm-btn{
    cursor: pointer;
}
.cm-none{
    display:none !important;
}
.cm-navbar-brand{
    margin-right: 0.5rem !important;
}
#index-logo{
    margin-left:15rem;
}

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading-dark {
    padding: 0.5rem 0 0 0.5rem;
    font-size: 1.2rem;
    height: 66px;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}
#page-content-wrapper {
    min-width: 100vw;
}
#wrapper #sidebar-wrapper.toggled {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper #sidebar-wrapper.toggled{
        margin-left: -15rem;
    }
}
main{
    margin:40px;
}
.btn-righticon{
    margin-right: 10px;
}
.card-text{
    display: inline;
    line-height: 40px;
}
#add-logpath-btn{
    float:right;
}