<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="filezone">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/js/d3tree.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.5.0/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <style type="text/css">
        .node {
            cursor: pointer;
        }
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }
        .node text {
            font: 15px sans-serif;
        }
        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 3px;
        }
        #d3 path{
            cursor: grab;
        }
        #d3::-webkit-scrollbar {
            width: 9px;
            height: 5px;
        }
        #d3::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #535353;
        }
        #d3::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 10px;
            background: #EDEDED;
        }
        .dragged-table::-webkit-scrollbar {
            width: 9px;
            height: 0;
        }
        .dragged-table::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #535353;
        }
        .dragged-table::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 10px;
            background: #EDEDED;
        }
        .dragged-table{
            max-height: 372px;
            overflow: auto;
        }
        .dragged-table .list-group-item{
            font-weight: 500;
        }
    </style>
    <div th:fragment="logField" class="row">
        <div class="col-4">
            <div id="table-loading" class="spinner-grow text-warning cm-none" style="position: absolute;top: 40%;left: 43%;"></div>
            <div id="table-shade">
                <table class="table" id="filezone-tb">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="sort-abled"  id="th-path" sort-field="path">
                                <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_path}"></span>
                                <span style="margin-right:20px"></span>
                            </div>
                        </th>
                        <th scope="col" >
                            <div class="sort-abled"  id="th-createTime" sort-field="createTime">
                                <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_timeline}"></span><span style="margin-right:20px"></span></div>
                        </th>
                        <th scope="col" th:text="#{i18n.setting_logfield_table_remarks}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:attr="data-id=${logField.id}" class="clicked" th:each="logField,logFieldStat : ${logFields}">
                        <td th:text="${logField.path}"></td>
                        <td th:text="${logField.createTime}"></td>
                        <td th:text="${logField.remarks}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="spiritPagination"></div>
            </div>
        </div>
        <div class="col-8" id="d3" style="height:700px;overflow: auto"></div>
    </div>
    <div class="modal fade" style="margin-top:0%" id="fileOptions" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:860px">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <h4 th:text="#{i18n.timezone_download_filter}"></h4>
                        <span id="fm-fileName" data-id=""></span>
                        <div style="margin-bottom:26px;">
                            <button type="button" class="btn btn-secondary" style="float:right;margin:10px" th:text="#{i18n.system_cancel}" data-dismiss="modal"></button>
                            <button id="fm-submit-download" class="btn btn-primary" style="float:right;margin:10px" type="submit" th:text="#{i18n.system_ok}"></button>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input"  type="checkbox" id="fm-splitTime">
                            <label class="form-check-label" for="fm-splitTime">
                                <span  th:text="#{i18n.timezone_form_spiltTime}"></span>
                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title
                                   th:attr="data-original-title=#{i18n.timezone_form_spiltTime_describe}"></i>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="fm-mergeFile" checked="true">
                            <label class="form-check-label" for="fm-mergeFile">
                                <span th:text="#{i18n.timezone_form_mergeFile}"></span>
                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title
                                   th:attr="data-original-title=#{i18n.timezone_form_mergeFile_describe}"></i>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="fm-filter">
                            <label class="form-check-label" for="fm-filter" th:text="#{i18n.timezone_form_filter}"></label>
                        </div>
                        <div id="fm-append-timeAnalyser" class="cm-none">
                            <div class="row" style="margin-top:24px">
                                <div class='col-2' style="line-height:35px;" th:text="#{i18n.timezone_form_time}">
                                </div>
                                <div class='col-4 form-group'>
                                    <div class="input-group date" id="datetimepickers" data-target-input="nearest">
                                        <input type="text" id="fm-startTime" class="form-control datetimepicker-input" data-target="#datetimepickers"/>
                                        <div class="input-group-append" data-target="#datetimepickers" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-1' style="line-height:35px;margin-left: 15px;">
                                    -
                                </div>
                                <div class='col-4 form-group'>
                                    <div class="input-group date" id="datetimepickere" data-target-input="nearest">
                                        <input type="text" id="fm-endTime" class="form-control datetimepicker-input" data-target="#datetimepickere"/>
                                        <div class="input-group-append" data-target="#datetimepickere" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6 row">
                                    <label for="fm-timeAnalyser" class="col-4 col-form-label" th:text="#{i18n.timezone_download_timeAnalyser}"></label>
                                    <select class="form-control col-6" id="fm-timeAnalyser">
                                        <option value="0" th:text="#{i18n.timezone_timeAnalyser_default}"></option>
                                        <option value="1" th:text="#{i18n.timezone_timeAnalyser_customize}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-6 row cm-none" id="fm-timeFormater-group">
                                    <label for="fm-timeFormater" class="col-5 col-form-label" th:text="#{i18n.timezone_form_timeFormater}"></label>
                                    <input type="text" class="form-control col-7" value="yyyy-MM-dd HH:mm:ss.SSS" id="fm-timeFormater">
                                    <small class="form-text text-muted col-sm-12" th:text="#{i18n.timezone_form_timeFormater_example}"></small>
                                </div>
                            </div>

                        </div>
                        <div id="fm-append-fileAnalyser" class="cm-none">
                            <div class="form-group row">
                                <label for="fm-fileAnalyser" class="col-sm-3 col-form-label" th:text="#{i18n.timezone_download_fileAnalyser}"></label>
                                <select class="form-control col-sm-5" id="fm-fileAnalyser">
                                    <option value="0" th:text="#{i18n.timezone_form_fileAnalyser_default}"></option>
                                    <option value="1" th:text="#{i18n.timezone_form_fileAnalyser_time_auto}"></option>
                                    <option value="1" th:text="#{i18n.timezone_form_fileAnalyser_customize}"></option>
                                </select>
                            </div>
                            <div class="form-group row cm-none" id="fm-fileFormater-group">
                                <label for="fm-fileFormater" class="col-sm-3 col-form-label" th:text="#{i18n.timezone_form_timeFormater}"></label>
                                <input type="text" class="form-control col-sm-5" id="fm-fileFormater">
                                <small class="form-text text-muted col-sm-12" th:text="#{i18n.timezone_form_timeFormater_example}"></small>
                            </div>
                        </div>
                        <script src="https://cdn.bootcdn.net/ajax/libs/Sortable/1.10.2/Sortable.js"></script>
                        <div id="draggedTable" class="row m-0" style="width:830px">
                            <div class="list-group col-12 text-center">
                                <span th:text="#{i18n.timezone_form_fileList_describe}"></span></div>
                            <div class="divider col-12 text-center" style="margin:10px;border: 1px solid grey;"></div>
                            <div id="draggedTable-head" class="row m-0" style="width:830px">
                                <div class="dragged-table col-6 text-center">
                                    <span id="draggedTable-head-l" class="h5" th:text="#{i18n.timezone_form_unSelectFile}"></span>
                                    <span id="draggedTable-count-l"></span>
                                </div>
                                <div class="dragged-table col-6 text-center">
                                    <span id="draggedTable-head-r" class="h5" th:text="#{i18n.timezone_form_selectFile}"></span>
                                    <span id="draggedTable-count-r"></span>
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title
                                       th:attr="data-original-title=#{i18n.timezone_form_selectFile_describe}"></i>
                                </div>
                            </div>
                            <div id="draggedTable-l" class="dragged-table list-group col-6"></div>
                            <div id="draggedTable-r" class="dragged-table list-group col-6"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a id='down' href=''  download='' style='display:none'></a>
    </div>
    <script src="/js/bootstrap-pagecap.min.js"></script>
    <script src="/js/table-sort.js"></script>

    <script>
        $("#fm-splitTime").bind("input propertychange change",function(){
            if($(this)[0].checked){
                $("#fm-append-timeAnalyser").attr("class","")
            }else{
                $("#fm-append-timeAnalyser").attr("class","cm-none")
            }
        });
        $("#fm-mergeFile").bind("input propertychange change",function(){
            if($(this)[0].checked){
                $("#draggedTable").attr("class","row m-0")
            }else{
                $("#draggedTable").attr("class","row m-0 cm-none")
            }
        });

        initSpiritPagination([[${p}]], [[${pages}]])
        updateSortStatus([[${sortd}]],'[[${sortType}]]')
        //点击下载
        $("#fm-submit-download").click(function () {
            //if more than one file
            let upfiles = false
            let timer = null
            let fileTags=$("#draggedTable-r .file")
            let file = new Array()
            for(i = 0; i < fileTags.length; i++){
                file[i] = fileTags[i].textContent
                console.log(file[i])
            }
            util.ajax("POST","/api/filezone/files/status?init=true",{path:window.params.get("path"),
                files:file,startTime:$('#fm-startTime')[0].value,endTime:$('#fm-endTime')[0].value,
                timeAnalyse:$("#fm-splitTime")[0].checked,fileAnalyse:true},
            function(result){
                if(result.files.length < 2){
                    $("#down").attr("href","/api/filezone/file/"+$('#fm-fileName').attr("data-id")+"/split?startTime="+$('#fm-startTime')[0].value+
                        "&endTime="+$('#fm-endTime')[0].value)
                    $("#down")[0].click();
                }else{
                    upfiles = true
                    timer = setInterval(function(){
                        util.ajax("GET","/api/filezone/files/status/"+result.id,null,function (status) {
                            if(status.fileRate[Object.keys(status.fileRate)[Object.keys(status.fileRate).length-1]]!=0){
                                clearInterval(timer)
                            }
                        },function(){})
                    },2000)
                    $("#down").attr("href","/api/filezone/rfile/"+result.id)
                    $("#down")[0].click()
                }
            },function () {})
        })
        function nodeClicked(id){
            $('#fm-fileName').attr("data-id",id)
            $('#fileOptions').modal('show')
            util.ajax("POST","/api/filezone/files/status",{fileId:id},
                function(result){
                    window.params.set("path",result.logAnalyseState.path)
                    let tableRight=""
                    let tableLeft=""
                    $("#draggedTable-count-r").text("("+result.files.length+")")
                    $("#draggedTable-count-l").text("("+result.unSelectFiles.length+")")
                    for(index in result.files){
                        tableRight+="<div class='list-group-item'><span class='file'>"+result.files[index].name+
                            "</span><span style='float:right;color:forestgreen'>"+result.files[index].size+"</span></div>"
                    }
                    for(index in result.unSelectFiles){
                        tableLeft+="<div class='list-group-item'><span class='file'>"+result.unSelectFiles[index].name+
                            " </span><span style='float:right;color:forestgreen'>"+result.unSelectFiles[index].size+"</span></div>"
                    }
                    $("#draggedTable-l").html(tableLeft)
                    $("#draggedTable-r").html(tableRight)
                    let draggedTableLeft = document.getElementById('draggedTable-l')
                    let draggedTableRight = document.getElementById('draggedTable-r')
                    new Sortable(draggedTableLeft, {
                        group: 'shared', // set both lists to same group
                        animation: 150,
                        onEnd: function (evt) {
                            $("#draggedTable-count-r").text("("+$("#draggedTable-r .file").length+")")
                            $("#draggedTable-count-l").text("("+$("#draggedTable-l .file").length+")")
                        }
                    });

                    new Sortable(draggedTableRight, {
                        group: 'shared',
                        animation: 150,
                        onEnd: function (evt) {
                            $("#draggedTable-count-r").text("("+$("#draggedTable-r .file").length+")")
                            $("#draggedTable-count-l").text("("+$("#draggedTable-l .file").length+")")
                        }
                    });

                }, function(){
                    $("#table-shade").attr("class","")
                    $("#table-loading").attr("class","spinner-grow text-warning cm-none")
                    $(".unclicked").attr("class","clicked")}
            )

        }
        //d3tree点击事件
        $(".clicked").click(function () {
            if($(this).attr("class")==="unclicked"){
                return
            }
            $("#table-shade").attr("class","shade")
            $("#table-loading").attr("class","spinner-grow text-warning")
            $(".clicked").attr("class","unclicked")
            d3.select("#d3").select("svg").remove()
            util.ajax("GET","/api/filezone/fileNodes?fieldId="+$(this).attr("data-id"),null,
                function(result){
                    d3Tree(result.root,"#d3",result.maxWidth,result.depth);
                    $("#table-shade").attr("class","")
                    $("#table-loading").attr("class","spinner-grow text-warning cm-none")
                    $(".unclicked").attr("class","clicked")
                }, function(){
                    $("#table-shade").attr("class","")
                    $("#table-loading").attr("class","spinner-grow text-warning cm-none")
                    $(".unclicked").attr("class","clicked")}
            )
        })
        //时间筛选
            $('#datetimepickers').datetimepicker({
                format:'YYYY-MM-DD HH:mm:ss',
                sideBySide:true
            });
            $('#datetimepickere').datetimepicker({
                format:'YYYY-MM-DD HH:mm:ss',
                showToday: true,
                useCurrent: true,
                sideBySide:true
            });

            $("#datetimepickers").on("change.datetimepicker", function (e) {
                $('#datetimepickere').datetimepicker('minDate', e.date)
            });
            $("#datetimepickere").on("change.datetimepicker", function (e) {
                $('#datetimepickers').datetimepicker('maxDate', e.date)
            });

        $('#fm-timeAnalyser').change(function(e){
             if($('#fm-timeAnalyser')[0].value==="1"){
                 $("#fm-timeFormater-group").attr("class","form-group col-6 row")
             }else{
                 $("#fm-timeFormater-group").attr("class","form-group col-6 row cm-none")
             }
        });
        //换页
        function onPageClick(page) {
            window.params.set("p",page)
            hrefTo(["dr","p"],"/filezone")
        }
    </script>
</main>
</body>
</html>