<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="filezone">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/js/d3tree.js"></script>

    <style type="text/css">
        .node {
            cursor: pointer;
        }
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }
        .node text {
            font: 15px sans-serif;
        }
        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 3px;
        }
        #d3 path{
            cursor: grab;
        }

    </style>
    <div th:fragment="logField" class="row">
        <div class="col-4">
            <div class="spinner-grow text-warning" role="status">
            </div>
                <table class="table" id="logfield-tb">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="sort-abled"  id="th-path" sort-field="path">
                                <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_path}"></span>
                                <span style="margin-right:20px"></span>
                            </div>
                        </th>
                        <th scope="col" >
                            <div class="sort-abled"  id="th-createTime" sort-field="createTime">
                                <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_timeline}"></span><span style="margin-right:20px"></span></div>
                        </th>
                        <th scope="col" th:text="#{i18n.setting_logfield_table_remarks}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:attr="data-id=${logField.id}" style="cursor:pointer"  class="clicked" th:each="logField,logFieldStat : ${logFields}">
                        <td th:text="${logField.path}"></td>
                        <td th:text="${logField.createTime}"></td>
                        <td th:text="${logField.remarks}"></td>
                    </tr>
                    </tbody>
                </table>
        <div class="spiritPagination"></div>
        <div style="text-align: center"><ul id="pageLimit"></ul></div>
        </div>
        <div class="col-8" id="d3" style="height:700px;overflow: auto"></div>
    </div>
    <script src="/js/bootstrap-pagecap.min.js"></script>
    <script src="/js/table-sort.js"></script>
    <script src="http://svg.dabbles.info/Snap.svg.FreeTransform/snap.svg-min.js"></script>
    <script src="http://svg.dabbles.info/Snap.svg.FreeTransform/snap.svg.free_transform.js"></script>
    <script>

        initSpiritPagination([[${p}]], [[${pages}]])
        updateSortStatus([[${sortd}]],'[[${sortType}]]')
        $(".clicked").click(function () {
            d3.select("#d3").select("svg").remove()
            util.ajax("GET","/api/filezone/fileNodes?fieldId="+$(this).attr("data-id"),null,
                function(result){
                    d3Tree(result.root,"#d3",result.maxWidth,result.depth);

                }, function(){}
            )
        })
        function onPageClick(page) {
            window.params.set("p",page)
            hrefTo(["dr","p"],"/filezone")
        }

        //svg拖动和缩放

    </script>
</main>
</body>
</html>