<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="filezone">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/js/d3tree.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <style type="text/css">
        .node {
            cursor: pointer;
        }
        .clicked{
            cursor: pointer;
        }
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }
        .node text {
            font: 15px sans-serif;
        }
        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 3px;
        }
        #d3 path{
            cursor: grab;
        }
        #d3::-webkit-scrollbar {
            width: 9px;
            height: 5px;
        }
        #d3::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #535353;
        }
        #d3::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 10px;
            background: #EDEDED;
        }
    </style>
    <div th:fragment="logField" class="row">
        <div class="col-4">
            <div id="table-loading" class="spinner-grow text-warning cm-none" style="position: absolute;top: 40%;left: 43%;"></div>
            <div id="table-shade">
                <table class="table" id="logfield-tb">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="sort-abled"  id="th-path" sort-field="path">
                                <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_path}"></span>
                                <span style="margin-right:20px"></span>
                            </div>
                        </th>
                        <th scope="col" >
                            <div class="sort-abled"  id="th-createTime" sort-field="createTime">
                                <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_timeline}"></span><span style="margin-right:20px"></span></div>
                        </th>
                        <th scope="col" th:text="#{i18n.setting_logfield_table_remarks}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:attr="data-id=${logField.id}" class="clicked" th:each="logField,logFieldStat : ${logFields}">
                        <td th:text="${logField.path}"></td>
                        <td th:text="${logField.createTime}"></td>
                        <td th:text="${logField.remarks}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="spiritPagination"></div>
            </div>
        </div>
        <div class="col-8" id="d3" style="height:700px;overflow: auto"></div>
    </div>
    <div class="modal fade" style="margin-top:15%" id="fileOptions" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:600px">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <h4 th:text="#{i18n.timezone_download_filter}"></h4>
                        <div>
                            <button type="button" class="btn btn-secondary" style="float:right;margin:10px" th:text="#{i18n.system_cancel}" data-dismiss="modal"></button>
                            <button id="fm-submit-delete" class="btn btn-primary" style="float:right;margin:10px" type="submit" th:text="#{i18n.system_ok}"></button>
                        </div>
                        <div class="row" style="float:right;margin-top:10px">
                            <div class='col-5'>
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepickers" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickers"/>
                                        <div class="input-group-append" data-target="#datetimepickers" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-1' style="line-height:35px;margin-left: 15px;">
                                -
                            </div>
                            <div class='col-5'>
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepickere" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickere"/>
                                        <div class="input-group-append" data-target="#datetimepickere" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fm-timeAnalyser" class="col-sm-3 col-form-label" th:text="#{i18n.timezone_download_timeAnalyser}"></label>
                            <select class="form-control col-sm-5" id="fm-timeAnalyser">
                                <option value="0" th:text="#{i18n.timezone_timeAnalyser_default}"></option>
                                <option value="1" th:text="#{i18n.timezone_timeAnalyser_customize}"></option>
                            </select>
                        </div>
                        <div class="form-group row cm-none" id="fm-timeFormater-group">
                            <label for="fm-timeFormater" class="col-sm-3 col-form-label" th:text="#{formatter格式}"></label>
                            <input type="text" class="form-control col-sm-5" id="fm-timeFormater">
                            <small class="form-text text-muted col-sm-12">例如"YYYY-MM-DD hh:mm:ss"</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id='down' href=''  download='' style='display:none'></a>
    </div>
    <script src="/js/bootstrap-pagecap.min.js"></script>
    <script src="/js/table-sort.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
        initSpiritPagination([[${p}]], [[${pages}]])
        updateSortStatus([[${sortd}]],'[[${sortType}]]')
        function nodeClicked(id){
            $('#fileOptions').modal('show')
            $("#down").attr("href","/api/filezone/file/"+id)
            $("#down")[0].click();
        }
        $(".clicked").click(function () {
            if($(this).attr("class")==="unclicked"){
                return 
            }
            $("#table-shade").attr("class","shade")
            $("#table-loading").attr("class","spinner-grow text-warning")
            $(".clicked").attr("class","unclicked")
            d3.select("#d3").select("svg").remove()
            util.ajax("GET","/api/filezone/fileNodes?fieldId="+$(this).attr("data-id"),null,
                function(result){
                    d3Tree(result.root,"#d3",result.maxWidth,result.depth);
                    $("#table-shade").attr("class","")
                    $("#table-loading").attr("class","spinner-grow text-warning cm-none")
                    $(".unclicked").attr("class","clicked")
                }, function(){
                $("#table-shade").attr("class","")
                    $("#table-loading").attr("class","spinner-grow text-warning cm-none")
                    $(".unclicked").attr("class","clicked")}
            )
        })
            $('#datetimepickers').datetimepicker({
                format:'YYYY-MM-DD H:mm:ss',
                sideBySide:true
            });
            $('#datetimepickere').datetimepicker({
                format:'YYYY-MM-DD H:mm:ss',
                showToday: false,
                useCurrent: false,
                sideBySide:true
            });
            $("#datetimepickers").on("change.datetimepicker", function (e) {
                $('#datetimepickere').datetimepicker('minDate', e.date)
            });
            $("#datetimepickere").on("change.datetimepicker", function (e) {
                $('#datetimepickers').datetimepicker('maxDate', e.date)
            });
        $('#fm-timeAnalyser').change(function(e){
             if($('#fm-timeAnalyser')[0].value==="1"){
                 $("#fm-timeFormater-group").attr("class","form-group row")
             }else{
                 $("#fm-timeFormater-group").attr("class","form-group row cm-none")
             }
        });
        function onPageClick(page) {
            window.params.set("p",page)
            hrefTo(["dr","p"],"/filezone")
        }
    </script>
</main>
</body>
</html>