<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="setting">
    <div class="row">
        <nav class="nav flex-column col-3" id="setting-menu">
            <a class="nav-link settingbar-tab" data-toggle="tab" href="#" tab-href="logField" th:text="#{i18n.setting_logfield}"></a>
            <a class="nav-link settingbar-tab" data-toggle="tab" href="#" tab-href="logField" >Link</a>
            <a class="nav-link settingbar-tab" data-toggle="tab" href="#" tab-href="logField">Link</a>
            <a class="nav-link settingbar-tab" data-toggle="tab" href="#" tab-href="logField">sdf</a>
        </nav>
        <div class="col-8">
            <div class="tab-content">
                <div class="card tab-pane fade active" id="setting-main" role="tabpanel" aria-labelledby="set-logfield">
                    <module th:replace="${'setting/'+case}::${case}" class="card-body">
                    </module>
                </div>
            </div>
        </div>
        <script src="/js/setting.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </div>
</main>
</body>
</html>