<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="card-body" th:fragment="logField">
        <h3 th:text="#{i18n.setting_logfield}" class="card-title text-center"></h3>
        <p th:text="#{i18n.setting_logfield_des}" class="card-text"></p>
        <button data-toggle="modal" data-target="#newLogField" class="btn btn-primary" id="add-logfield-btn">
            <svg class="btn-righticon" width="16px" height="16px" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" clip-rule="evenodd"/>
            </svg>
            <span th:text="#{i18n.setting_logfield_add}"></span>
        </button>
        <div style="height:30px"></div>
        <table class="table" id="logfield-tb">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" th:text="#{i18n.setting_logfield_table_path}"></th>
                <th scope="col" th:text="#{i18n.setting_logfield_table_timeline}"></th>
                <th scope="col" th:text="#{i18n.setting_logfield_table_status}"></th>
                <th scope="col" th:text="#{i18n.setting_logfield_table_count}"></th>
                <th scope="col" th:text="#{i18n.setting_logfield_handle}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="logField,logFieldStat : ${logFields}">
                <th th:text="${logField.id}"></th>
                <td th:text="${logField.path}"></td>
                <td th:text="${logField.createTime}"></td>
                <td th:class="${logField.status==0}?'text-success':(${logField.status==1}?'text-warning':'text-danger')"
                    th:text="${logField.statusStr}"></td>
                <td th:text="${logField.fileCount}"></td>
                <td>
                    <svg class="btn-icon" width="16px" height="16px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" clip-rule="evenodd"/>
                    </svg>
                    <svg class="btn-icon" width="16px" height="16px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                    </svg>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modal fade" id="newLogField" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" th:text="#{i18n.setting_logfield_add}" id="staticBackdropLabel"></h6>
                        <button type="button" class="close btn-close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="fm-logfield-path" th:text="#{i18n.setting_logfield_table_path}"></label>
                                <input type="text" class="form-control" id="fm-logfield-path">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="fm-logfield-status">
                                    <label class="custom-control-label" for="fm-logfield-status">Toggle this switch element</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" th:text="#{i18n.system_cancel}" data-dismiss="modal"></button>
                        <button type="button" class="btn btn-primary" th:text="#{i18n.system_commit}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>