<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="card-body" th:fragment="logField">
        <h3 th:text="#{i18n.setting_logfield}" class="card-title text-center"></h3>
        <p th:text="#{i18n.setting_logfield_des}" class="card-text"></p>
        <button data-toggle="modal" data-target="#newLogField" class="btn btn-primary" id="add-logfield-btn">
            <svg class="btn-righticon" width="16px" height="16px" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" clip-rule="evenodd"/>
            </svg>
            <span th:text="#{i18n.setting_logfield_add}"></span>
        </button>
        <div style="height:30px"></div>
        <table class="table" id="logfield-tb">
            <thead>
            <tr>
                <th scope="col"  th:text="#{i18n.setting_logfield_table_path}"></th>
                <th scope="col" >
                    <div class="sort-abled"  id="th-createTime" sort-field="createTime">
                        <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_timeline}"></span><span style="margin-right:20px"></span></div>
                </th>
                <th scope="col" th:text="#{i18n.setting_logfield_table_status}"></th>
                <th scope="col">

                    <div class="sort-abled"  id="th-fileCount" sort-field="fileCount" >
                        <span style="margin-left: 20px" th:text="#{i18n.setting_logfield_table_count}"></span><span style="margin-right:20px"></span></div>
                </th>
                <th scope="col" th:text="#{i18n.setting_logfield_handle}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="logField,logFieldStat : ${logFields}">
                <td th:text="${logField.path}"></td>
                <td th:text="${logField.createTime}"></td>
                <td  class="td-status" th:id="${'td-status-'+logField.id}" th:class="${logField.status==1}?'text-success':(${logField.status==3}?'text-danger':'text-warning')"
                    th:text="${logField.statusStr}"></td>
                <td>
                    <span th:id="${'td-count-'+logField.id}" th:text="${logField.fileCount}"></span>
                    <div th:id="${'td-count-load-'+logField.id}" class="text-info" th:classappend="${logField.status==0?' spinner-border spinner-border-sm ':'hide'}" role="status">
                </div></td>
                <td>
                    <svg class="btn-icon" width="16px" height="16px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" clip-rule="evenodd"/>
                    </svg>
                    <svg class="btn-icon" width="16px" height="16px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                    </svg>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="spiritPagination"></div>
        <div id="example" style="text-align: center"><ul id="pageLimit"></ul> </div>
        <div class="modal fade" id="newLogField" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" th:text="#{i18n.setting_logfield_add}" id="staticBackdropLabel"></h6>
                        <button type="button" class="close btn-close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="fm-logfield-path" th:text="#{i18n.setting_logfield_table_path}"></label>
                                <small id="pathHelp" class="form-text text-muted" th:text="#{i18n.setting_logfield_form_path_help}"></small>
                                <input type="text" class="form-control" name="fm-logfield-path" id="fm-logfield-path" aria-describedby="pathHelp">
                                <div id="fm-path-feedback" style="display: block"class="invalid-feedback">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input checked="true" type="checkbox" class="custom-control-input"  name="fm-logfield-status" id="fm-logfield-status">
                                    <label class="custom-control-label" for="fm-logfield-status" id="lb-logfield-status" th:text="#{i18n.setting_logfield_form_status_opened}"></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" th:text="#{i18n.system_cancel}" data-dismiss="modal"></button>
                        <button type="button" id="fm-subbmit" class="btn btn-primary" th:text="#{i18n.system_commit}"></button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let scanlogFields=[[${logFields4Scan}]]
            function onPageClick(page) {
                window.params.set("p",page)
                hrefTo(["dr","p"],"/setting/logField")
            }
            $("#fm-logfield-status").click(function () {
                if($("#fm-logfield-status")[0].checked){
                    $("#lb-logfield-status").text('[[#{i18n.setting_logfield_form_status_opened}]]')
                }else{
                    $("#lb-logfield-status").text('[[#{i18n.setting_logfield_form_status_closed}]]')
                }
            })
            $("#fm-subbmit").click(function () {
                $(this).attr('disabled',true)
                let btnText=$(this).text()
                $(this).html(" <span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
                    "  <span class=\"sr-only\">Loading...</span>")
                let path=$("#fm-logfield-path").val()
                let status=$("#fm-logfield-status")[0].checked
                util.ajax("PUT","/api/setting/logField",{path:path,status:status?0:2},
                    function(result){
                        if(result.code===0){
                            location.reload()
                        }else{
                            $("#fm-subbmit").text(btnText)
                            $("#fm-subbmit").attr('disabled',false)
                            $("#fm-path-feedback").text(result.msg)
                        }
                    },
                    function(){
                        $("#fm-subbmit").text(btnText)
                        $("#fm-subbmit").attr('disabled',false)
                    }
                    )
            })
            let interval=window.setInterval("checkStatus()",1000);

            function checkStatus()
            {
                let tmpFields = scanlogFields
                for(index in tmpFields){
                    util.ajax("GET","/api/setting/logField?id="+tmpFields[index],null,
                        function(result){
                            if(result.code===0&&result.data.status!==0){
                                $("#td-status-"+result.data.id).text(result.data.statusStr)
                                let classAttr='text-warning'
                                if(result.data.status===1){
                                    classAttr='text-success'
                                }else if(result.data.status===3){
                                    classAttr='text-danger'
                                }
                                $("#td-count-"+result.data.id).text(result.data.fileCount)
                                $("#td-count-load-"+result.data.id).attr("class","")
                                $("#td-status-"+result.data.id).attr("class",classAttr)
                                scanlogFields.splice(index,1);
                            }
                        },
                        function(){}
                    )
                }
                if(scanlogFields.length===0){
                    window.clearInterval(interval)
                }
            }
        </script>
        <script src="/js/bootstrap-pagecap.min.js"></script>
        <script src="/js/table-sort.js"></script>
        <script>
            initSpiritPagination([[${p}]], [[${pages}]])
            updateSortStatus([[${sortd}]],'[[${sortType}]]')
        </script>
    </div>
</body>
</html>